body {
    background-color: darksalmon;
    background-image: url("https://source.unsplash.com/category/sky");
    background-size: cover;
}

#container {
    margin: 0 auto;
    opacity: 0.8;
}

header {
    width: 700px;
    /*height: 500px;*/
    background-color: blue;
    border: 1px black dashed;
    margin: 0 auto;
    font-size: 24px;
    background-image: url("../images/top-cover.jpg");
    background-size: 750px;
}

header h1 {
    font-size: 100px;
    font-family: cursive;
    color: #160410;
    text-align: center;
}

#id-nevigate #square {
    list-style-type: none;
    border-radius: 2.5px;
    padding: 1px;
    display: inline;
    margin-right: 10px;
    font-size: 30px;
    font-family: content: '\e822';
    color: black;
    border: solid #EB1435 3px;
    text-align: center;
}

h2 {
    margin: 10px;
    color: black;
}

main {
    width: 700px;
    /*height: 100px;*/
    border: 1px black dotted;
    margin: 0;
    font-family: "rubik";
    color: black display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: floralwhite;
}

#contact #background-contact {
    width: 700px;
    height: 300px;
    background-image: url("../images/contact-fifteendesign.jpg");
    background-size: 500px;
    list-style-type: none;
    text-align: center;

}

main h1 {
    font-size: 50px;
    font-family: cursive;
    color: black;
    text-align: center;
}

main h2 {
    font-size: 25px;
    font-family: cursive;
    color: black;
    text-align: center;
}

main p {
    text-align: center;
}

main ul {
    border: 1px black dashed;
}

main img {
    width: 50px;
    height: 50px;
}

#main-css {
    font-size: 50px;
}

#logo2 { 
    width: 150px;
    height: 100px;
    border-radius: 10%;
}
 
#arrow {
    background-color: clear;
}

footer {
    width: 700px;
    /* height: 100px;*/
    border: 1px black dotted;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    font-family: "rubik";
    color: darkgreen;
    background-color: #606D9F;
}

footer p {
    font-size: 20px;
    font-family: content: '\e003';
    color: black;
}

#logo img {
    border-radius: 25%;
}


#hello-image #portrait {
    border-radius: 25px;
    width: 200px;
    height: 200px;
}

#hello {
    border-radius: 25px;
    width: 700px;
    height: 700px;
}

#para {
    text-align: center;
    width: 700px;
}

#resume {
    color: green;
}

#project2 {
    border: 1px double;
    font-size: 20px;
}

#project3 {
    border: 1px double;
    font-size: 20px;
}

#project4 {
    border: 1px double;
    font-size: 20px;
}

a:link {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: #0DEAF2;
    text-decoration: underline;
}

a:active {
    color: #1B1DE4;
}